@import "../../../styles/variables.scss";

.bookCard{
    p{
        margin: 10px 0px 10px 10px;
        text-align: left;
    }
    &__name{
        color:$textWhite;
    }
    &__author{
        color:$textWhite;
        font-size: 12px;
    }
    button{
        font-size: 14px;
        height: 35px;
        border-radius: 45px;
    }
}