@import "../../styles/variables.scss";
.header{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__nav_wrapper{
        display: flex;
        list-style: none;
        li:not(:last-child){
            margin-right: 50px;
        }
        a{
            text-decoration: none;
            color: $textWhite;
            transition: 0.2s ease-in;
        }
    }
}